@charset "UTF-8";

p{
margin:0;
}

.errorMessages{
	font-size: 20px;
    font-weight: bold;
    text-align: center;
}

#login-field{
    width: 300px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #555;
    }

login-field p{
    font-size: 14px;
    }

.login-field-title{
    text-align: center;
    }

.id,.pass{
    margin-bottom: 20px;
 	text-align: center;
    }

.pass,.id{
	text-align: left;
}

input[type="id"],
input[type="password"] {
    width: 280px;
    padding: 4px;
    font-size: 14px;
    }

.submit{
    text-align: center;
    }

.submit input{
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  text-decoration: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0px 8px 6px #e3e3e3;
  border: solid #f5fdff 4px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#61c7e0), to(#418da8));
  background: -moz-linear-gradient(top, #61c7e0, #418da8);
  }

.submit input:hover{
  background: #37a4bf;
 }


.home-name{
 font-family: Arial;
 font-size: 28px;
}



.home-submit{
    text-align: center;
    }

.comment-name,.comment-text,.comment-date{
	margin-top: 6px;
	margin-left: 6px;
	margin-right: 6px;
}

.comment-name{
	font-weight: 600;
}

.message-date,.comment-date{
	font-size: 14px;
	text-align: right;
}


.home-submit input{
margin-top: 6px;
 font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  text-decoration: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0px 8px 6px #e3e3e3;
  border: solid #f5fdff 4px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#61c7e0), to(#418da8));
  background: -moz-linear-gradient(top, #61c7e0, #418da8);

 }




/* font */
#login-field p{
  color: #077685;
  font-weight: bold;
  }

#login-field .login-field-title{
  font-family: Arial;
  font-size: 30px;
  color: #4eb4c2;
  }

/* skin */
#login-field{
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 1px 10px #488a9e;
  -moz-box-shadow: 0px 1px 10px #488a9e;
  box-shadow: 0px 1px 10px #488a9e;
  border: solid #4eb4c2 1px;
  background: #fafafa;
  }

#login-field .login-field-title{
  padding-bottom: 6px;
  border-bottom: 2px solid #4eb4c2;
  margin-bottom: 20px;
  }



#signup-field .signup-field-title{
  font-family: Arial;
  font-size: 24px;
  color: #4eb4c2;
  }

#edit-field .edit-field-title{
  font-family: Arial;
  font-size: 24px;
  color: #4eb4c2;
  }

#message-field .message-field-title{
  font-family: Arial;
  font-size: 24px;
  color: #4eb4c2;
  text-align: center;
  }


#management-field .management-field-title{
  font-family: Arial;
  font-size: 24px;
  color: #4eb4c2;
  text-align: center;
   margin-bottom: 20px;
  }

/* 区切り用の線
  #management-field .management-field-title{
  padding-bottom: 6px;
  border-bottom: 2px solid #4eb4c2;
  margin-bottom: 20px;
  }
 */

#management-field{
    width: 400px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #555;
    }

#management-field{
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 1px 10px #488a9e;
  -moz-box-shadow: 0px 1px 10px #488a9e;
  box-shadow: 0px 1px 10px #488a9e;
  border: solid #4eb4c2 1px;
  background: #fafafa;
  }

#management-field{
  padding-bottom: 6px;
  border-bottom: 2px solid #4eb4c2;
  margin-bottom: 10px;
  }

  #management-field p{
  color: #077685;
  font-weight: bold;
  }

#management-field{
  font-family: Arial;
  font-size: 16px;
  color: #4eb4c2;
  }

.management-submit input{
margin-top: 6px;
 font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  text-decoration: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0px 8px 6px #e3e3e3;
  border: solid #f5fdff 4px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#61c7e0), to(#418da8));
  background: -moz-linear-gradient(top, #61c7e0, #418da8);
 }

.management-submit{
    text-align: right;
    }

 #management-field .management-submit{
  padding-bottom: 5px;
  border-bottom: 2px solid #4eb4c2;
  margin-bottom: 10px;
  }



.message-title,.message-text{
  padding-bottom: 6px;
  border-bottom: 2px solid #4eb4c2;
  margin-bottom: 20px;
  }




#signup-field{
    width: 400px;
    word-break:break-all;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #555;
    }

signup-field p{
    font-size: 16px;
    }

.name,.login-id,.pass,.confirm{
    margin-bottom: 14px;
    }

.message-name,.message-title,.message-text,.message-date{
    margin-bottom: 6px;
    margin-left: 6px;
    margin-right: 6px;
    }
.message-category{
	margin-bottom: 6px;
    margin-left: 6px;
    margin-right: 6px;
    float: right;
}



#signup-field p{
  color: #077685;
  font-weight: bold;
  }

#signup-field{
  font-family: Arial;
  font-size: 16px;
  color: #4eb4c2;
  }

.signup-field-title{
    text-align: center;
    }

/* skin */
#signup-field{
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 1px 10px #488a9e;
  -moz-box-shadow: 0px 1px 10px #488a9e;
  box-shadow: 0px 1px 10px #488a9e;
  border: solid #4eb4c2 1px;
  background: #fafafa;
  }

#signup-field{
  padding-bottom: 6px;
  border-bottom: 2px solid #4eb4c2;
  margin-bottom: 20px;
  }


#edit-field{
    width: 400px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #555;
    }

.edit-field-title{
    text-align: center;
    }

edit-field p{
    font-size: 16px;
    }


#edit-field p{
  color: #077685;
  font-weight: bold;
  }

#edit-field{
  font-family: Arial;
  font-size: 16px;
  color: #4eb4c2;
  }

/* skin */
#edit-field{
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 1px 10px #488a9e;
  -moz-box-shadow: 0px 1px 10px #488a9e;
  box-shadow: 0px 1px 10px #488a9e;
  border: solid #4eb4c2 1px;
  background: #fafafa;
  }

#edit-field{
  padding-bottom: 6px;
  border-bottom: 2px solid #4eb4c2;
  margin-bottom: 20px;
  }


#message-field{
    width: 400px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #555;
    word-break:break-all;
    }

message-field p{
    font-size: 16px;
    }

.title,.category,.text{
    margin-bottom: 14px;
    }

#message-field p{
  color: #077685;
  font-weight: bold;
  }

#message-field{
  font-family: Arial;
  font-size: 16px;
  color: #4eb4c2;
  }

/* skin */
#message-field{
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 1px 10px #488a9e;
  -moz-box-shadow: 0px 1px 10px #488a9e;
  box-shadow: 0px 1px 10px #488a9e;
  border: solid #4eb4c2 1px;
  background: #fafafa;
  }

#message-field{
  padding-bottom: 6px;
  border-bottom: 2px solid #4eb4c2;
  margin-bottom: 20px;
  }





menu p{
    font-size: 20px;
    text-align: right;
    }

/* font */
#menu p{
  color: #077685;
  font-weight: bold;
  text-align: right;
  }

#menu{
  font-family: Arial;
  font-size: 18px;
  color: #077685;
  text-align: right;
  }



#refine-search{
    width: 660px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #555;
    }

refine-search p{
    font-size: 14px;
    }

/* font */
#refine-search p{
  color: #077685;
  font-weight: bold;
  }


/* skin */
#refine-search{
  border: solid #4eb4c2 1px;
  background: #fafafa;
  }




#message-comment{
    width: 500px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #555;
    word-break:break-all;
    }

.message-name{
	text-decoration: underline;
	font-weight: bold;
	font-size: 18px;

}

message-comment p{
    font-size: 16px;
    }

.title,.category,.text{
    margin-bottom: 14px;
    }

#message-comment p{
  color: #077685;
  font-weight: bold;
  }

#message-comment{
  font-family: Arial;
  font-size: 16px;
  color: #077685;
  }

/* skin */
#message-comment{
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 1px 10px #488a9e;
  -moz-box-shadow: 0px 1px 10px #488a9e;
  box-shadow: 0px 1px 10px #488a9e;
  border: solid #4eb4c2 1px;
  background: #fafafa;
  }

#message-comment{
  padding-bottom: 6px;
  border-bottom: 2px solid #4eb4c2;
  margin-bottom: 20px;
  }

.comment{
	margin-top: 6px;
  border: solid #4eb4c2 1px;
  background: #fafafa;
  }

